interactions.py
load_dotenv
astrapy
langchain-text-splitters
langchain-astradb>=0.3.3
langchain-openai
langchain_community 
pypdf
langchain[openai]
flashrank
transformers
langchain_huggingface 
accelerate>=0.26.0
